In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"C:\Users\Soham Gon\Desktop\blinkit analysis\Data\csv\blinkit_products.csv")

In [2]:
df.head()

,product_id,product_name,category,brand,price,mrp,margin_percentage,shelf_life_days,min_stock_level,max_stock_level
0,153019,Onions,Fruits & Vegetables,Aurora LLC,947.95,1263.93,25.0,3,13,88
1,11422,Potatoes,Fruits & Vegetables,Ramaswamy-Tata,127.16,169.55,25.0,3,20,65
2,669378,Potatoes,Fruits & Vegetables,Chadha and Sons,212.14,282.85,25.0,3,23,70
3,848226,Tomatoes,Fruits & Vegetables,Barad and Sons,209.59,279.45,25.0,3,10,51
4,890623,Onions,Fruits & Vegetables,"Sangha, Nagar and Varty",354.52,472.69,25.0,3,27,55

In [3]:
# checking the data shape.
df.shape

(268, 10)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         268 non-null    int64
 1   product_name       268 non-null    object
 2   category           268 non-null    object
 3   brand              268 non-null    object
 4   price              268 non-null    float64
 5   mrp                268 non-null    float64
 6   margin_percentage  268 non-null    float64
 7   shelf_life_days    268 non-null    int64
 8   min_stock_level    268 non-null    int64
 9   max_stock_level    268 non-null    int64
dtypes: float64(3), int64(4), object(3)
memory usage: 21.1+ KB

In [7]:
# changing some capitalized data to lower (string operation)
df['product_name'] = df['product_name'].str.lower()
df['category'] = df['category'].str.lower()

In [8]:
df.head()

,product_id,product_name,category,brand,price,mrp,margin_percentage,shelf_life_days,min_stock_level,max_stock_level
0,153019,onions,fruits & vegetables,Aurora LLC,947.95,1263.93,25.0,3,13,88
1,11422,potatoes,fruits & vegetables,Ramaswamy-Tata,127.16,169.55,25.0,3,20,65
2,669378,potatoes,fruits & vegetables,Chadha and Sons,212.14,282.85,25.0,3,23,70
3,848226,tomatoes,fruits & vegetables,Barad and Sons,209.59,279.45,25.0,3,10,51
4,890623,onions,fruits & vegetables,"Sangha, Nagar and Varty",354.52,472.69,25.0,3,27,55

In [ ]:
# avg mrp per category.
df.groupby('category')['mrp'].mean().reset_index().round(2)

                 category     mrp
0               baby care  534.32
1    cold drinks & juices  623.71
2       dairy & breakfast  706.90
3     fruits & vegetables  710.09
4       grocery & staples  449.22
5          household care  370.35
6   instant & frozen food  558.71
7           personal care  616.80
8                pet care  866.85
9                pharmacy  790.54
10      snacks & munchies  487.77

In [ ]:
# avg maintaining min stock quantity expense per product category by blinkit. (data of 2023 and 2024)
avg_stock_val = (
    df.groupby('category', as_index=False).agg
    (
        avg_min_stock = ('min_stock_level', 'mean'),
        avg_price = ('price', 'mean')
    )
)

avg_stock_val['avg_maintaining_stock_value'] = (
    avg_stock_val['avg_min_stock'] * avg_stock_val['avg_price']
)

avg_stock_val.sort_values(by = 'avg_maintaining_stock_value', ascending=False).reset_index().round(2)

,index,category,avg_min_stock,avg_price,avg_maintaining_stock_value
0,9,pharmacy,20.24,599.03,12124.30
1,8,pet care,21.60,546.93,11813.77
2,3,fruits & vegetables,21.37,546.54,11679.66
3,2,dairy & breakfast,19.77,569.10,11249.14
4,1,cold drinks & juices,20.36,500.52,10192.31
5,7,personal care,22.24,441.60,9821.09
6,0,baby care,18.81,516.15,9710.12
7,4,grocery & staples,22.21,397.36,8824.65
8,10,snacks & munchies,19.89,417.11,8295.79
9,5,household care,19.07,403.19,7690.56
10,6,instant & frozen food,17.90,420.34,7524.18

In [32]:
df['profit'] = (df['mrp'] - df['price']).round(2)

In [33]:
df.head()

,product_id,product_name,category,brand,price,mrp,margin_percentage,shelf_life_days,min_stock_level,max_stock_level,profit
0,153019,onions,fruits & vegetables,Aurora LLC,947.95,1263.93,25.0,3,13,88,315.98
1,11422,potatoes,fruits & vegetables,Ramaswamy-Tata,127.16,169.55,25.0,3,20,65,42.39
2,669378,potatoes,fruits & vegetables,Chadha and Sons,212.14,282.85,25.0,3,23,70,70.71
3,848226,tomatoes,fruits & vegetables,Barad and Sons,209.59,279.45,25.0,3,10,51,69.86
4,890623,onions,fruits & vegetables,"Sangha, Nagar and Varty",354.52,472.69,25.0,3,27,55,118.17

In [41]:
# we don't need shelf_life_days for our analysis.
df[(df['shelf_life_days'] < 0) | (df['shelf_life_days'] > 5)]

,product_id,product_name,category,brand,price,mrp,margin_percentage,shelf_life_days,min_stock_level,max_stock_level,profit
27,818522,cheese,dairy & breakfast,Hora-Roy,96.09,120.11,20.0,7,12,90,24.02
28,462526,curd,dairy & breakfast,Pau and Sons,449.97,562.46,20.0,7,25,69,112.49
29,376447,butter,dairy & breakfast,Gara and Sons,724.84,906.05,20.0,7,17,64,181.21
30,217710,eggs,dairy & breakfast,Rout-Sarna,58.59,73.24,20.0,7,19,53,14.65
31,146840,bread,dairy & breakfast,"Bains, Deol and Vaidya",786.85,983.56,20.0,7,19,89,196.71
...,...,...,...,...,...,...,...,...,...,...,...
263,444361,pain reliever,pharmacy,"Prakash, Bawa and Kale",822.63,1028.29,20.0,365,20,71,205.66
264,679284,cough syrup,pharmacy,Pant LLC,877.89,1097.36,20.0,365,28,95,219.47
265,240179,cough syrup,pharmacy,Ram-Suri,90.56,113.20,20.0,365,20,56,22.64
266,673058,cough syrup,pharmacy,Balan-Madan,765.76,957.20,20.0,365,30,94,191.44
267,114414,vitamins,pharmacy,Kara-Golla,832.06,1040.07,20.0,365,26,66,208.01

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         268 non-null    int64
 1   product_name       268 non-null    object
 2   category           268 non-null    object
 3   brand              268 non-null    object
 4   price              268 non-null    float64
 5   mrp                268 non-null    float64
 6   margin_percentage  268 non-null    float64
 7   shelf_life_days    268 non-null    int64
 8   min_stock_level    268 non-null    int64
 9   max_stock_level    268 non-null    int64
 10  profit             268 non-null    float64
dtypes: float64(4), int64(4), object(3)
memory usage: 23.2+ KB

In [43]:
# saving the cleaned csv file.
df.to_csv(r"C:\Users\Soham Gon\Desktop\blinkit analysis\Data\cleaned\blinkit_product_cleaned.csv", index = False)