In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv(r"C:\Users\Soham Gon\Desktop\blinkit analysis\Data\csv\blinkit_delivery_performance.csv")
df.head()

,order_id,delivery_partner_id,promised_time,actual_time,delivery_time_minutes,distance_km,delivery_status,reasons_if_delayed
0,1961864118,63230,2024-07-17 08:52:01,2024-07-17 08:47:01,-5.0,0.96,On Time,NaN
1,1549769649,14983,2024-05-28 13:25:29,2024-05-28 13:27:29,2.0,0.98,On Time,Traffic
2,9185164487,39859,2024-09-23 13:25:12,2024-09-23 13:29:12,4.0,3.83,On Time,Traffic
3,9644738826,61497,2023-11-24 16:34:56,2023-11-24 16:33:56,-1.0,2.76,On Time,NaN
4,5427684290,84315,2023-11-20 05:17:39,2023-11-20 05:18:39,1.0,2.63,On Time,Traffic

In [2]:
# checking each columns and data types.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_id               5000 non-null   int64
 1   delivery_partner_id    5000 non-null   int64
 2   promised_time          5000 non-null   object
 3   actual_time            5000 non-null   object
 4   delivery_time_minutes  5000 non-null   float64
 5   distance_km            5000 non-null   float64
 6   delivery_status        5000 non-null   object
 7   reasons_if_delayed     3098 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 312.6+ KB

In [4]:
# changing data in 'delivery_status' column.

df['delivery_status'] = df['delivery_status'].str.lower()

In [5]:
df['delivery_status']

0       on time
1       on time
2       on time
3       on time
4       on time
         ...
4995    on time
4996    on time
4997    on time
4998    on time
4999    on time
Name: delivery_status, Length: 5000, dtype: object

In [6]:
df.isnull().mean() * 100

# reasons_if_delayed       38.04
# column : reasons_if_delayed has 38.04% of it's rows empty.

order_id                  0.00
delivery_partner_id       0.00
promised_time             0.00
actual_time               0.00
delivery_time_minutes     0.00
distance_km               0.00
delivery_status           0.00
reasons_if_delayed       38.04
dtype: float64

In [7]:
df['reasons_if_delayed'].unique()

array([nan, 'Traffic'], dtype=object)

In [8]:
df['reasons_if_delayed'] = df['reasons_if_delayed'].replace({
    'Traffic' : 'traffic'
})

In [9]:
df['reasons_if_delayed'].unique()

array([nan, 'traffic'], dtype=object)

In [10]:
df.head()

,order_id,delivery_partner_id,promised_time,actual_time,delivery_time_minutes,distance_km,delivery_status,reasons_if_delayed
0,1961864118,63230,2024-07-17 08:52:01,2024-07-17 08:47:01,-5.0,0.96,on time,NaN
1,1549769649,14983,2024-05-28 13:25:29,2024-05-28 13:27:29,2.0,0.98,on time,traffic
2,9185164487,39859,2024-09-23 13:25:12,2024-09-23 13:29:12,4.0,3.83,on time,traffic
3,9644738826,61497,2023-11-24 16:34:56,2023-11-24 16:33:56,-1.0,2.76,on time,NaN
4,5427684290,84315,2023-11-20 05:17:39,2023-11-20 05:18:39,1.0,2.63,on time,traffic

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_id               5000 non-null   int64
 1   delivery_partner_id    5000 non-null   int64
 2   promised_time          5000 non-null   object
 3   actual_time            5000 non-null   object
 4   delivery_time_minutes  5000 non-null   float64
 5   distance_km            5000 non-null   float64
 6   delivery_status        5000 non-null   object
 7   reasons_if_delayed     3098 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 312.6+ KB

In [ ]:
#  2   promised_time          5000 non-null   object 
#  3   actual_time            5000 non-null   object 
# changing datatype column from 'object' to 'datetime64[ns]' datatype.

df['promised_time'] = pd.to_datetime(df['promised_time'], format = '%Y-%m-%d %H:%M:%S')
df['actual_time'] = pd.to_datetime(df['actual_time'], format = '%Y-%m-%d %H:%M:%S')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_id               5000 non-null   int64
 1   delivery_partner_id    5000 non-null   int64
 2   promised_time          5000 non-null   datetime64[ns]
 3   actual_time            5000 non-null   datetime64[ns]
 4   delivery_time_minutes  5000 non-null   float64
 5   distance_km            5000 non-null   float64
 6   delivery_status        5000 non-null   object
 7   reasons_if_delayed     3098 non-null   object
dtypes: datetime64[ns](2), float64(2), int64(2), object(2)
memory usage: 312.6+ KB

In [17]:
df['delivery_year'] = df['promised_time'].dt.year
df['delivery_month'] = df['promised_time'].dt.month
df['delivery_day'] = df['promised_time'].dt.day
df['delivery_week'] = df['promised_time'].dt.isocalendar().week
df['delivery_week_period'] = df['promised_time'].dt.to_period('W')

In [18]:
df.head()

,order_id,delivery_partner_id,promised_time,actual_time,delivery_time_minutes,distance_km,delivery_status,reasons_if_delayed,delivery_year,delivery_month,delivery_day,delivery_week,delivery_week_period
0,1961864118,63230,2024-07-17 08:52:01,2024-07-17 08:47:01,-5.0,0.96,on time,NaN,2024,7,17,29,2024-07-15/2024-07-21
1,1549769649,14983,2024-05-28 13:25:29,2024-05-28 13:27:29,2.0,0.98,on time,traffic,2024,5,28,22,2024-05-27/2024-06-02
2,9185164487,39859,2024-09-23 13:25:12,2024-09-23 13:29:12,4.0,3.83,on time,traffic,2024,9,23,39,2024-09-23/2024-09-29
3,9644738826,61497,2023-11-24 16:34:56,2023-11-24 16:33:56,-1.0,2.76,on time,NaN,2023,11,24,47,2023-11-20/2023-11-26
4,5427684290,84315,2023-11-20 05:17:39,2023-11-20 05:18:39,1.0,2.63,on time,traffic,2023,11,20,47,2023-11-20/2023-11-26

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_id               5000 non-null   int64
 1   delivery_partner_id    5000 non-null   int64
 2   promised_time          5000 non-null   datetime64[ns]
 3   actual_time            5000 non-null   datetime64[ns]
 4   delivery_time_minutes  5000 non-null   float64
 5   distance_km            5000 non-null   float64
 6   delivery_status        5000 non-null   object
 7   reasons_if_delayed     3098 non-null   object
 8   delivery_year          5000 non-null   int32
 9   delivery_month         5000 non-null   int32
 10  delivery_day           5000 non-null   int32
 11  delivery_week          5000 non-null   UInt32
 12  delivery_week_period   5000 non-null   period[W-SUN]
dtypes: UInt32(1), datetime64[ns](2), float64(2), int32(3), int64(2), object(2), period[W-SUN](1)
memory usage: 434.7+ KB

In [28]:
# filling null rows in 'reasons_if_delayed' column.
df['reasons_if_delayed'] = df['reasons_if_delayed'].fillna('not given')

In [33]:
# percentage of delivery where delivery agents tagged the reason_if_delayed as 'traffic'.
reason_for_traffic_summary = (
    df.groupby('reasons_if_delayed', as_index = False).agg
    (
        delivery_count = ('order_id', 'count')
    )
)

reason_for_traffic_summary['reasons'] = (reason_for_traffic_summary['delivery_count'] / reason_for_traffic_summary['delivery_count'].sum()) * 100 
# reason_for_traffic_summary.plot(x = 'reasons_if_delayed', y = 'reasons', figsize = (8,5), kind = 'barh', title = 'reasons for delay chart')

reason_for_traffic_summary

  reasons_if_delayed  delivery_count  reasons
0          not given            1902    38.04
1            traffic            3098    61.96

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_id               5000 non-null   int64
 1   delivery_partner_id    5000 non-null   int64
 2   promised_time          5000 non-null   datetime64[ns]
 3   actual_time            5000 non-null   datetime64[ns]
 4   delivery_time_minutes  5000 non-null   float64
 5   distance_km            5000 non-null   float64
 6   delivery_status        5000 non-null   object
 7   reasons_if_delayed     5000 non-null   object
 8   delivery_year          5000 non-null   int32
 9   delivery_month         5000 non-null   int32
 10  delivery_day           5000 non-null   int32
 11  delivery_week          5000 non-null   UInt32
 12  delivery_week_period   5000 non-null   period[W-SUN]
dtypes: UInt32(1), datetime64[ns](2), float64(2), int32(3), int64(2), object(2), period[W-SUN](1)
memory usage: 434.7+ KB

In [46]:
# analysing monthly delivery delay.

monthly_delivery_delay_traffic = (
    df.query("reasons_if_delayed == 'traffic'") # using query() function to find reasons where 'traffic' is mentioned.
    .groupby('delivery_month', as_index=False).agg
    (
        traffic_delay_cnt = ('reasons_if_delayed', 'count')
    )
)

monthly_delivery_delay_traffic['total'] = (monthly_delivery_delay_traffic['traffic_delay_cnt'] / monthly_delivery_delay_traffic['traffic_delay_cnt'].sum()) * 100
monthly_delivery_delay_traffic

    delivery_month  traffic_delay_cnt      total
0                1                179   5.777921
1                2                152   4.906391
2                3                222   7.165913
3                4                288   9.296320
4                5                333  10.748870
5                6                291   9.393157
6                7                313  10.103292
7                8                330  10.652034
8                9                323  10.426081
9               10                304   9.812782
10              11                190   6.132989
11              12                173   5.584248

In [48]:
# the above mentioned query or snippet can also be done using boolean masking or boolean filtering without
# using query() function.

where = df['reasons_if_delayed'] == 'traffic'

monthly_delivery_delay_traffic = (
    df[where] # using the mask.
    .groupby('delivery_month', as_index=False).agg
    (traffic_delay_cnt = ('reasons_if_delayed', 'count'))
)

monthly_delivery_delay_traffic

    delivery_month  traffic_delay_cnt
0                1                270
1                2                252
2                3                371
3                4                478
4                5                539
5                6                481
6                7                500
7                8                536
8                9                509
9               10                501
10              11                294
11              12                269