In [2]:
import pandas as pd

df=pd.read_csv(r"C:\Users\Soham Gon\Desktop\blinkit analysis\Data\csv\blinkit_order_items.csv")

In [3]:
df.head()

     order_id  product_id  quantity  unit_price
0  1961864118      642612         3      517.03
1  1549769649      378676         1      881.42
2  9185164487      741341         2      923.84
3  9644738826      561860         1      874.78
4  5427684290      602241         2      976.55

In [6]:
df.groupby('product_id').size().reset_index(name='count').sort_values(by = 'count', ascending=False)

     product_id  count
15        51036     34
220      820973     33
10        34186     29
266      992178     29
38       131748     29
..          ...    ...
186      706112     10
146      587420     10
40       133542      9
237      890623      9
8         33797      5

[268 rows x 2 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    5000 non-null   int64
 1   product_id  5000 non-null   int64
 2   quantity    5000 non-null   int64
 3   unit_price  5000 non-null   float64
dtypes: float64(1), int64(3)
memory usage: 156.4 KB

In [12]:
# saving the file for further analysis with SQL.
df.to_csv(r"C:\Users\Soham Gon\Desktop\blinkit analysis\Data\cleaned\blinkit_order_items_cleaned.csv", index=False)
print("saved as csv file!")

saved as csv file!